@font-face {
  font-family: 'Bebas-Neue';
    src:  url('font/Bebas-Neue.ttf.woff') format('woff'),
    url('font/Bebas-Neue.ttf.svg#Bebas-Neue') format('svg'),
    url('font/Bebas-Neue.ttf.eot'),
    url('font/Bebas-Neue.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bebas-Neue';
    font-size: 36px;
    text-align: left;
    background-color: #FBFBFB; /* Background in provided photo ranges from #FAFAFA to #FCFCFC in areas */
    width: 800px;
}

.axisL path { stroke-width: 0px; }
.axisL line { stroke-width: 0px; }
.axisL text { 
    font-family: 'Bebas-Neue';
    font-size:   24px; 
    font-weight: normal;
}

.axisB path { stroke-width: 0px; }
.axisB line { stroke-width: 0px; }
.axisB text { 
    font-family: 'Bebas-Neue';
    font-size:   24px; 
    font-weight: normal;
}

.Holder_Section {
    position: relative;
}


.Front_Stuff { 
    position: absolute;
}

.Back_Stuff { 
    position: absolute;
}

.cursor {
    width: 40px;
    height: 40px;
}

#lower_case {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
}
